.banner_content {
    background: url("../images/blogjork.jpeg");
    width: 100%;
    height: 285px;
    background-position: center;
    background-size: cover;
}
.text{
    background-color: red;
}
