/* * footer */
.container-1 {
    background-color: rgb(18, 16, 16);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.text-a a {
    color: rgb(225, 217, 217);
    margin-left: -38px;
    text-decoration: none;
    transition: all 0.3s;
}

.text-a a:hover {
    color: rgb(61, 122, 243);
}


/* text-footer */

.text-footer {
    margin-left: 300px;
}

/*end-text-footer */
/* icon-text */

.icon-text {
    color: rgb(221, 216, 216);
    transition: 0.3s;
}

.icon-text:hover {
    color: rgb(86, 134, 245);
}

/* hover-footer */
.hover-footer {
    transition: 0.3s;
    color: rgb(33, 76, 249);
    text-decoration: none;
}

.hover-footer:hover {
    color: rgb(26, 5, 185);
}

/* hover-pointer */
.hover-pointer img {
    cursor: pointer;
}
