.navbar {
    background-color: rgb(250, 247, 247) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 0;
}

/* position-sticky */
.position-sticky {
    position: fixed;
    top: 0;
}